@import "./navbar.css";
/* Used source https://stackoverflow.com/questions/60827176/is-is-possible-to-embed-2-or-more-style-sheets-in-one-link-tag */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

section {
    padding: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.fc {
    display: flex;
    flex-direction: column;
}

.fr {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.gap {
    gap: 100px;
}

.gap-small {
    gap: 25px;
}

.img-large {
    width: 300px;
    border-radius: 20px;
    margin: 70px;
}

#login button {
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(231, 115, 6);
    border-radius: 0px 10px 0px 10px;
    margin-top: 15px;
}

#about a {
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(231, 115, 6);
    border-radius: 0px 10px 0px 10px;
    transition: 0.7s ease;
    text-align: center;
}

#about .button-one {
    background-color: rgb(231, 115, 6);
    color: white;
}

#about .button-two {
    background-color: white;
    color: rgb(231, 115, 6);
}

#about .button-one:hover {
    background-color: white;
    color: rgb(231, 115, 6);
}

#login-form .button-one:hover {
    background-color: white !important;
    color: rgb(231, 115, 6);
}

#about .button-two:hover {
    background-color: rgb(231, 115, 6);
    color: white;
}

.logo {
    width: 100px;
    margin-left: 15px;
}

footer {
    color: white;
    background-color: black;
    padding: 45px;
    margin-top: 100px;
}

.searchBar{
    width: 700px; 
}

.lost-item {
    background-color: rgba(255, 165, 0, 0.5); 
    margin-bottom: 20px;  /* Some spacing between items */
    padding: 10px;
    margin: 20px;  /* Some inner spacing for content */
    border-radius: 15px;  
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* To make the content more readable against the orange background */
.lost-item * {
    color: #333;
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: row;
}

nav a {
    margin: 0 10px;
}

.custom-navbar {
    background-color: transparent;
	position: relative;
}

.orange-line {
    border: 0;
    height: 3px; 
    background-color: #ffa500;
}


.itemContainer {
    margin: 20px;
    padding-right: 30px;
    flex-grow: 2;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightSideContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 625px;
}

.imgContainer {
    width: 550px;
    display: flex;
    height: 600px;
    margin: 30px;
    overflow: hidden;
    padding-left: 15px;
}

.imgContainer img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover;
}

hr{
	background-color:black;
	size: 4cm;
}

.chatContainerWrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chatContainer {
    width: 100%;
    max-width: 530px;
	padding-left: 20px;
}

.chatHeader {
    background-color: #BF6900 !important;
    font-weight: bold;
}

.chatFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.btn-primary {
    background-color: #BF6900!important;
    border-color: #BF6900 !important;
    margin-left: 10px; 
}

