* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

section {
    padding: 15px;
}

.fc {
    display: flex;
    flex-direction: column;
}

.fr {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.gap {
    gap: 100px;
}

.gap-small {
    gap: 25px;
}

.img-large {
    width: 300px;
    border-radius: 20px;
   margin: 50px;
}

.half {
    width: 50%;
    text-align: left;
}

.primary-nav {
    justify-content: space-between;
    padding: 12px;
}

.nav-list li {
    display: inline;
}

.primary-nav .nav-list li a {
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: 0.2s ease;
}

.primary-nav .nav-list li a:hover {
    color: rgb(228, 120, 20);
}

.nav-line {
    width: 100%;
    background-color: rgb(228, 120, 20);
    height: 2px;
    margin-bottom: 100px;
}

.bottom-nav .nav-list a {
    text-decoration: none;
    padding: 10px;
    color: white;
    transition: 0.7s ease;
}

.account-button {
    border: 0.75px solid rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 80px;
    margin-left: 17px;
    height: 15px;
}

.account-button:hover {
    border: 0.75px solid rgb(129, 129, 129);
}

#nav-button {
    display: none;
    padding: 15px;
    background-color: white;
    border: 2px solid rgb(129, 129, 129);
}

@media only screen and (max-width: 700px) {
    #nav-button {
        display: block;
    }
    .primary-nav .nav-list {
        display: none;
    }
}

#mobile-menu {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 25px 0px 25px 0px;
    background-color: rgb(233, 233, 233);
}

#mobile-menu a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: black;
    padding: 15px;
}

#mobile-menu a:active {
    background-color:rgb(129, 129, 129);
}

#close-button {
    position: absolute;
    padding: 5px 12px 5px 12px;
    font-size: 24px;
    top: 10px;
    right: 10px;
}

#about button {
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(231, 115, 6);
    border-radius: 0px 10px 0px 10px;
    transition: 0.7s ease;
}

#about .button-one {
    background-color: rgb(231, 115, 6);
    color: white;
}

#about .button-two {
    color: rgb(231, 115, 6);
    background-color: white;
}

#about .button-one:hover {
    color: rgb(231, 115, 6);
    background-color: white;
}

#about .button-two:hover {
    background-color: rgb(231, 115, 6);
    color: white;
}

footer {
    color: white;
    background-color: black;
    padding: 45px;
    margin-top: 100px;
}