#primary-nav {
    justify-content: space-between;
    padding: 5px;
}

#primary-nav h2 {
    font-weight: bold;
    font-size: 25px;
}

.nav-list li {
    display: inline;
}

#primary-nav .nav-list li a {
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: 0.2s ease;
}

#primary-nav .nav-list li a:hover {
    color: rgb(228, 120, 20);
}

.nav-line {
    width: 100%;
    background-color: rgb(228, 120, 20);
    height: 2px;
    margin-bottom: 100px;
}

.bottom-nav .nav-list a {
    text-decoration: none;
    padding: 10px;
    color: white;
    transition: 0.7s ease;
}

.account-button {
    border: 0.75px solid rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 80px;
    margin-left: 17px;
    height: 15px;
}

.account-button:hover {
    border: 0.75px solid rgb(129, 129, 129);
}

#nav-button {
    display: none;
    padding: 15px;
    background-color: white;
    border: 2px solid rgb(129, 129, 129);
    margin-right: 25px;
}

@media only screen and (max-width: 800px) {
    #nav-button {
        display: block;
    }
    #primary-nav .nav-list {
        display: none;
    }
}

#mobile-menu {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 25px 0px 25px 0px;
    background-color: rgb(0, 0, 0);
    color: white;
}

#mobile-menu a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: white;
    padding: 15px;
}

#mobile-menu a:active {
    background-color:rgb(255, 255, 255);
    color: black;
}

#close-button {
    position: absolute;
    padding: 5px 15px 5px 15px;
    font-size: 24px;
    background-color: black;
    border: 1px solid white;
    color: white;
    top: 15px;
    right: 15px;
}